body {
    padding: 0px;
    margin: 0px;
    background-color: #000;
    /* Don't like it pretty much but could leave it
    background-image: url("/assets/images/glass_80_115.png");
    background-repeat: repeat;*/ 
}