svg{
  background: #333;
  text-align: center;
}

#logo {
  background: url("../assets/images/logo.png");
 }

.button-text {
  stroke-width: 1px;
}

.button {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 6px;
  stroke: #00ffff;
}

.info-panel {
  fill: #333;
  stroke-width: 6px;
  stroke: #686868;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 6px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.button:hover   {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}